@font-face {
  font-family: 'SF Pro Display';
  src: url('../../assets/sf-pro-display/SF-Pro-Display-Semibold.otf') format('truetype');
  font-weight: 600;
  font-style: normal;
}


.heading {
margin: 0 0 1rem;
color: #011F2B;
font-size: 1.8rem;
text-align: left;
font-family: "SF Pro Display", sans-serif;
font-weight: bolder;
}


.form {
  display: flex;
  flex-direction: column;
}

.inputGroup {
  margin-bottom: 1rem;
  position: relative;
}

.input {
  width: 130%;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 8px;

}

.form_button {
  width: 148%;
  padding: 0.75rem;
  margin-top: 1rem;
  border-radius: 8px;
  background: #F7F8F9;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
  text-decoration: none;
}

.error {
  position: absolute;
  bottom: -1.2rem;
  left: 0;
  color: #FA9E7E;
  font-size: 0.85rem;
}


.submitButton {
  width: 148%;
  padding: 0.75rem;
  background: #A7C7E7;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: transform 0.3s ease;
  font-family: "SF Pro Display", sans-serif;
}

.submitButton:hover {
  transform: scale(1.05);
}

.registerPrompt {
  color: #798C93;
  text-align: center;
  margin: 1rem 0 0.5rem;
  font-size: 0.95rem;
}

.registerLink {
  display: flex;
  justify-content: center;
  text-decoration: none;  
}
