.movieCard {
  height: 240px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background: #011F2B;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, #011F2B);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 100%;
}

.movieCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.poster {
  height: 100%;
  background-size: cover;
}

.posterContainer {
  height: 100%;
  border-radius: 6px;
  background: #222;
  flex: 6;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  text-align: left;
  flex: 6;  
}

.title {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
}

.year {
  margin: 0.25rem 0 0;
  font-size: 0.85rem;
  color: #ccc;
}

.heartButton {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}